.svg-button-container{
    cursor: pointer;
    user-select: none;
}

.svg-button-container .svg{
    transition: all 0.2s ease;
}

.gold .svg{
    fill: var(--collection-1-gold);
}

.svg-button-container:not(.gold):not(.fill0):hover .svg {
    fill: var(--collection-1-font-2);
}
