networkx
openai
tiktoken
django
djangorestframework
django-cors-headers
django-celery-results
crispy-bootstrap5
PyPDF2
PyMuPDF
pillow
matplotlib
pdfplumber
ebooklib
numpy
celery
daphne
tools
channels[daphne]
celery[redis]
pika
flower
rabbitmq-server
psycopg2