.pages-count {
    right: 20px;
    position: absolute;
    bottom: 20px;
    height: auto;
    width: auto;
    align-items: center;
    justify-content: center;
    user-select: none;
    overflow: hidden;
    z-index: 3;
}

.pages-bg {
    background-color: var(--collection-1-block2);
    border-radius: 8px;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0.3;
    overflow: hidden;
}

.pages-count-container{
    position: relative;
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px 7px;
    overflow: hidden;
}

.pages-text {
    color: var(--collection-1-font-1);
    font-family: var(--main-font-font-family);
    font-size: var(--main-font-font-size);
    font-style: var(--main-font-font-style);
    font-weight: var(--main-font-font-weight);
    letter-spacing: var(--main-font-letter-spacing);
    line-height: var(--main-font-line-height);
    display: flex;
    overflow: hidden;
}