.settings .settings-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 40px 40px;
}

.settings .row {
    height: 41px;
    display: flex;
    position: relative;
    width: 100%;
    margin: 5px;
    margin-bottom: 10px;
}

.settings-page .separating-line {
    bottom: 0px;
    width: 95%;
    border: 0;
    border-bottom: 1px solid var(--collection-1-blocks);
}

.settings .setting-name {
    color: var(--collection-1-font-2);
    font-family: var(--main-font-font-family);
    font-size: var(--main-font-font-size);
    font-style: var(--main-font-font-style);
    font-weight: var(--main-font-font-weight);
    left: 0;
    letter-spacing: var(--main-font-letter-spacing);
    line-height: var(--main-font-line-height);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.settings .dropdown-container {
    height: 100%;
    right: 0px;
    position: absolute;
    width: 50%;
}

.settings .dropdown-container .dropdown-toggle {
    background-color: var(--collection-1-bg);
}

.settings .dropdown-container .dropdown-main-text{
    color: var(--collection-1-font-2);
    font-family: var(--main-font-font-family);
    font-size: var(--main-font-font-size);
    font-style: var(--main-font-font-style);
    font-weight: var(--main-font-font-weight);
    letter-spacing: var(--main-font-letter-spacing);
    line-height: var(--main-font-line-height);
}

.settings .dropdown-container .dropdown-menu {
    bottom: auto;
    margin-bottom: 0px;
    margin-top: 10px;
}

.settings .dropdown-container .button-text{
    color: var(--collection-1-font-2);
}