.logo {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    user-select: none;
    align-items: center;
    justify-content: center;
    z-index: -2;
}

.logo-container{
    position: relative;
    display: flex;
}

.logo .loge-text {
    color: var(--collection-1-font-1);
    font-family: var(--very-big-font-font-family);
    font-size: var(--very-big-font-font-size);
    font-style: var(--very-big-font-font-style);
    font-weight: var(--very-big-font-font-weight);
    letter-spacing: var(--very-big-font-letter-spacing);
    line-height: var(--very-big-font-line-height);
    opacity: 0.5;
}

.logo .easy-knowledge-logo {
    height: 78px;
    opacity: 0.5;
    width: 86px;
    margin-right: 15px;
}
