.book {
    height: 100%;
    position: relative;
    width: 100%;
    display: flex;
}

.book .paragraphs {
    height: 100%;
    width: 100%;
    padding: 30px;
    /* position: relative;
    display: flex;
    left: 0px;
    top: 0px; */
}

.book .book-element {
    margin-bottom: 20px;
}

.book .element-bg {
    border-radius: 12px;
    box-shadow: 12px 15px 4px #00000040;
    left: 0;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}