:root {
  --big-font-font-family: "Inter-Regular", Helvetica;
  --big-font-font-size: 32px;
  --big-font-font-style: normal;
  --big-font-font-weight: 400;
  --big-font-font-weight2: 600;
  --big-font-letter-spacing: 0px;
  --big-font-line-height: normal;
  --collection-1-bg: rgba(34, 40, 49, 1);
  --collection-1-bg2: rgba(36, 41, 49, 1);
  --collection-1-block2: rgba(45, 52, 62, 1);
  --collection-1-blocks: rgba(57, 62, 70, 1);
  --collection-1-blocks-half-alpha: rgba(57, 62, 70, 0.5);
  --collection-1-font-1: rgba(92, 126, 146, 1);
  --collection-1-blocks-no-a: 57, 62, 70;
  /* --collection-1-font-1: yellow; */
  --collection-1-font-1-alpha: rgba(92, 126, 146, 0.1);
  --collection-1-font-1-ha: rgba(92, 126, 146, 0.5);
  --collection-1-font-2: rgba(238, 238, 238, 1);
  --collection-1-font-2-ha: rgba(238, 238, 238, 0.5);
  --collection-1-font-3: rgb(87, 124, 145);
  --collection-1-gold: rgba(255, 187, 92, 1);
  --collection-1-grey: rgb(121, 121, 121);
  --collection-1-green: rgb(45, 156, 45);
  --main-font-font-family: "Inter-Regular", Helvetica;
  --main-font-font-size: 22px;
  --bigger-font-font-size: 26px;
  --main-font-font-style: normal;
  --main-font-font-weight: 400;
  --main-font-letter-spacing: 0px;
  --main-font-line-height: normal;
  --smaller-font-font-family: "Inter-Regular", Helvetica;
  --smaller-font-font-size: 20px;
  --smaller-font-font-style: normal;
  --smaller-font-font-weight: 400;
  --smaller-font-letter-spacing: 0px;
  --smaller-font-line-height: normal;
  --very-big-font-font-family: "Inter-Regular", Helvetica;
  --very-big-font-font-size: 64px;
  --very-big-font-font-style: normal;
  --very-big-font-font-weight: 400;
  --very-big-font-letter-spacing: 0px;
  --very-big-font-line-height: normal;
  
  --color-dark: #04080C;
  --color-secondary: #FFC400;
  --color-orange: #FF7C22;
  --color-darkL1: #0E1317;
  --color-darkL2: #191E22;
  --color-light: #F7FBFF;
  --color-greyD3: #586D8E;
  --base: "normal 300 16px/1.5 -apple-system, system-ui, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif";
  --headline1: "normal 900 72px/1.2 -apple-system, system-ui, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif";
  --headline3: "normal 500 28px/1.2 -apple-system, system-ui, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif";
  --lead: "normal 300 20px/1.5 -apple-system, system-ui, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif";
  --font-landing-page1: "normal 600 42px/1.2 -apple-system, system-ui, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif";
  --font-landing-page2: "normal 300 22px/1.5 -apple-system, system-ui, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif";
  --font-landing-page3: "normal 300 16px/1.5 -apple-system, system-ui, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif";
  --font-landing-page4: "300 16px/27px -apple-system, system-ui, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif";
  --font-span1: "normal 400 18px/27px -apple-system, system-ui, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif";
  --font-sansHelvetica1: "normal 300 18px/1.5 Frutiger, 'Frutiger Linotype', Univers, Calibri, 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', Myriad, 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, 'Helvetica Neue', Helvetica, Arial, sans-serif";
}
