.page {
  user-select: none;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 12px;
  height: 34px;
  overflow: hidden;
  position: relative;
  width: 192px;
  transition: all 0.3s ease;
}

.page.active-page {
  background-color: var(--collection-1-block2);
}

.page:hover {
  background-color: var(--collection-1-block2);
}

.page-buttons{
  width: 192px;
  height: 34px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.page.expanded {
  height: 140px;
}

.page .book-name {
  color: var(--collection-1-font-2);
  font-family: var(--main-font-font-family);
  font-size: var(--main-font-font-size);
  font-style: var(--main-font-font-style);
  font-weight: var(--main-font-font-weight);
  left: 64px;
  letter-spacing: var(--main-font-letter-spacing);
  line-height: var(--main-font-line-height);
  position: absolute;
  top: 3px;
  cursor: pointer;
}

.page .props {
  height: 100%;
  left: 5px;
  overflow: hidden;
  position: absolute;
  top: 35px;
  width: 183px;
}

.page .div {
  color: var(--collection-1-font-1);
  font-family: var(--smaller-font-font-family);
  font-size: var(--smaller-font-font-size);
  font-style: var(--smaller-font-font-style);
  font-weight: var(--smaller-font-font-weight);
  left: 61px;
  letter-spacing: var(--smaller-font-letter-spacing);
  line-height: var(--smaller-font-line-height);
  position: absolute;
  top: 67px;
  white-space: nowrap;
}

.page .text-wrapper-2 {
  color: var(--collection-1-font-1);
  font-family: var(--smaller-font-font-family);
  font-size: var(--smaller-font-font-size);
  font-style: var(--smaller-font-font-style);
  font-weight: var(--smaller-font-font-weight);
  left: 64px;
  letter-spacing: var(--smaller-font-letter-spacing);
  line-height: var(--smaller-font-line-height);
  position: absolute;
  top: 38px;
  white-space: nowrap;
}

.page .chapters {
  height: 31px;
  left: 0;
  position: absolute;
  top: 7px;
  width: 185px;
}

.icon .dots{
  fill: var(--collection-1-font-1);
}

.icon .cross{
  fill: var(--collection-1-font-1);
}

.page:hover .cross-div {
  visibility: visible;
  opacity: 1.0;
}