.page {
  user-select: none;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 12px;
  height: 34px;
  overflow: hidden;
  position: relative;
  width: 192px;
  transition: all 0.3s ease;
}

.page.active-page {
  background-color: var(--collection-1-block2);
}

.page:hover {
  background-color: var(--collection-1-block2);
}

.page-buttons{
  width: 192px;
  height: 34px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.page.expanded {
  height: 132px;
}

.page .book-name {
  color: var(--collection-1-font-2);
  font-family: var(--main-font-font-family);
  font-size: var(--main-font-font-size);
  font-style: var(--main-font-font-style);
  font-weight: var(--main-font-font-weight);
  left: 64px;
  letter-spacing: var(--main-font-letter-spacing);
  line-height: var(--main-font-line-height);
  position: absolute;
  top: 3px;
  cursor: pointer;
}

.under-icon-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  visibility: hidden;
  opacity: 0.0;
  transition: all 0.3s ease;
}

.page.active-page .under-icon-circle{
  visibility: visible;
  opacity: 1.0;
}

.under-icon-circle:hover {
  background-color: var(--collection-1-bg);
}

.under-icon-circle.dots{
  left: 8px;
}

.under-icon-circle.cross{
  right: 8px;
}

.icon{
  cursor: pointer;
  pointer-events: none;
}

.icon.dots{
  height: 5px;
  width: 17px;
}

.icon.cross {
  height: 15px;
  width: 15px;
}

.page .props {
  height: 92px;
  left: 5px;
  overflow: hidden;
  position: absolute;
  top: 35px;
  width: 183px;
}

.page .div {
  color: var(--collection-1-font-1);
  font-family: var(--smaller-font-font-family);
  font-size: var(--smaller-font-font-size);
  font-style: var(--smaller-font-font-style);
  font-weight: var(--smaller-font-font-weight);
  left: 61px;
  letter-spacing: var(--smaller-font-letter-spacing);
  line-height: var(--smaller-font-line-height);
  position: absolute;
  top: 67px;
  white-space: nowrap;
}

.page .text-wrapper-2 {
  color: var(--collection-1-font-1);
  font-family: var(--smaller-font-font-family);
  font-size: var(--smaller-font-font-size);
  font-style: var(--smaller-font-font-style);
  font-weight: var(--smaller-font-font-weight);
  left: 64px;
  letter-spacing: var(--smaller-font-letter-spacing);
  line-height: var(--smaller-font-line-height);
  position: absolute;
  top: 38px;
  white-space: nowrap;
}

.page .chapters {
  height: 31px;
  left: 0;
  position: absolute;
  top: 7px;
  width: 185px;
}

.page .overlap-group{
  background-color: rgba(45, 52, 62, 0);
  border-radius: 12px;
  height: 31px;
  position: relative;
  width: 183px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  transition: all 0.1s ease;
}

.page .overlap-group:hover {
  background-color: var(--collection-1-bg);
}

.page .text-wrapper-3 {
  color: var(--collection-1-font-1);
  font-family: var(--smaller-font-font-family);
  font-size: var(--smaller-font-font-size);
  font-style: var(--smaller-font-font-style);
  font-weight: var(--smaller-font-font-weight);
  letter-spacing: var(--smaller-font-letter-spacing);
  line-height: var(--smaller-font-line-height);
  position: absolute;
  white-space: nowrap;
}
