.settings .settings-tab {
    padding: 40px 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 320px;
}

.settings .tab {
    background-color: rgba(0, 0, 0, 0.0);
    border-radius: 10px;
    height: 31px;
    width: 100%;
    margin: 5px;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    cursor: pointer;
}

.settings .tab.active {
    background-color: var(--collection-1-bg);
}

.settings .tab:hover {
    background-color: var(--collection-1-bg);
}

.settings .tab .option {
    color: var(--collection-1-font-2);
    font-family: var(--main-font-font-family);
    font-size: var(--main-font-font-size);
    font-style: var(--main-font-font-style);
    font-weight: var(--main-font-font-weight);
    letter-spacing: var(--main-font-letter-spacing);
    line-height: var(--main-font-line-height);
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
}
