.side-bar {
  background-color: var(--collection-1-bg);
  height: 100%;
  width: 205px;
  user-select: none;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 0px;
}

.side-bar .BG {
  background-color: var(--collection-1-blocks);
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
}

.side-bar .add-book-icon .plus{
  fill: var(--collection-1-font-1);
  display: flex;
}

.side-bar .username {
  color: var(--collection-1-font-1);
  font-family: var(--smaller-font-font-family);
  font-size: var(--smaller-font-font-size);
  font-style: var(--smaller-font-font-style);
  font-weight: var(--smaller-font-font-weight);
  letter-spacing: var(--smaller-font-letter-spacing);
  line-height: var(--smaller-font-line-height);
  white-space: nowrap;
}

.side-bar .icon-user {
  height: auto;
  width: 18px;
  margin-right: 10px;
  fill: var(--collection-1-font-1);
}

.side-bar .user{
  fill: var(--collection-1-font-1);
}

.user-button {
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
}

.button-content {
  display: flex;
  align-items: center;
}