.test-element-div{
    width: 100%;
    position: relative;
}

.test-element {
    background-color: var(--collection-1-block2);
    border-radius: 5px;
    height: 70px;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 10px;
}

.test-element .test-name {
    color: var(--collection-1-font-2);
    font-family: var(--big-font-font-family);
    font-size: var(--big-font-font-size);
    font-style: var(--big-font-font-style);
    font-weight: var(--big-font-font-weight);
    letter-spacing: var(--big-font-letter-spacing);
    line-height: var(--big-font-line-height);
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.tests .test-questions {
    color: var(--collection-1-font-1);
    font-family: var(--big-font-font-family);
    font-size: var(--big-font-font-size);
    font-style: var(--big-font-font-style);
    font-weight: var(--big-font-font-weight);
    letter-spacing: var(--big-font-letter-spacing);
    line-height: var(--big-font-line-height);
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.tests .test-date {
    color: var(--collection-1-font-1);
    font-family: var(--big-font-font-family);
    font-size: var(--big-font-font-size);
    font-style: var(--big-font-font-style);
    font-weight: var(--big-font-font-weight);
    letter-spacing: var(--big-font-letter-spacing);
    line-height: var(--big-font-line-height);
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.tests .test-element.progress {
    opacity: 0.6;
    cursor: default;
}

.tests .test-element.create {
    cursor: default;
}

.ek-input.questions-number{
    color: var(--collection-1-font-1-ha) !important;
}

.tests .test-element-create-string {
    color: var(--collection-1-font-1);
    font-family: var(--big-font-font-family);
    font-size: var(--big-font-font-size);
    font-style: var(--big-font-font-style);
    font-weight: var(--big-font-font-weight);
    letter-spacing: var(--big-font-letter-spacing);
    line-height: var(--big-font-line-height);
}

.tests .test-element-create-box {
    height: 100%;
    margin: 0 20px;
}

.tests .error-in-generation-container{
    position: absolute;
    left: 10px;
}

.tests .error-in-generation{
    position: absolute;
    height: 30px;
    width: 30px;
    color: var(--collection-1-font-1);
    transform: translateY(-50%);
}

.tests .error-in-generation-popover{
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 300px;
    background-color: var(--collection-1-blocks-half-alpha);
    border-radius: 5px;
    display: flex;
    padding: 5px;
    flex-direction: column;
    z-index: 100;
    cursor: default;
    visibility: hidden;
    color: var(--collection-1-font-2);
    font-family: var(--big-font-font-family);
    font-size: 8;
}

.tests .error-in-generation:hover ~ .error-in-generation-popover{
    visibility: visible;
}

.tests .error-in-generation-popover .title{
    font-size: 12px;
    font-weight: 600;
}
.tests .error-in-generation-popover .description{
    font-size: 12px;
}