.book-page-container{
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.book-page-container::-webkit-scrollbar {
    display: none;
}

.bg {
    width: 100%;
    height: 100%;
    background-color: var(--collection-1-bg);
    display: flex;
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
}

.main-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.book-area{
    width: 100%;
    flex-grow: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}